/*
 * @Author: mikey.yinyaoxuan 
 * @Date: 2018-11-19 08:52:32 
 * @Last Modified by: mikey.yinyaoxuan
 * @Last Modified time: 2018-11-22 10:09:31
 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: 0; }
