@import "common.scss";
@import "_minix.scss";
.wrap {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
    position: relative;
    header {
        @include box_flex;
        flex-direction: column;
        width: 100%;
        height: pxTorem(120px);
        background: #ccc;
        @include box_flex;
        @include justify(space-between);
        @include align;
        padding: pxTorem(10px);
        @include sizing;
        .head-one {
            width: 100%;
            @include box_flex;
            i.icon {
                font-size: pxTorem(15px);
            }
            .center {
                @include box_flex;
                width: 90%;
                input {
                    border-radius: pxTorem(10px);
                    width: 80%;
                    height: pxTorem(30px);
                    background: #eee;
                    @include flex;
                    @include align;
                }
            }
        }
        .head-two {
            width: 100%;
            @include box_flex;
            flex-direction: column;
            justify-content: space-around;
            .one-list {
                width: 100%;
                flex-direction: column;
                #uls {
                    width: 100%;
                    @include box_flex;
                    @include justify(space-between);
                    padding: pxTorem(10px) pxTorem(5px);
                    @include sizing;
                    li {
                        width: 20%;
                        height: pxTorem(30px);
                        line-height: pxTorem(30px);
                        font-size: pxTorem(15px);
                    }
                    .active {
                        color: orange;
                    }
                }
            }
            .two-list {
                width: 100%;
                @include box_flex;
                flex-direction: column;
                #ols {
                    width: 100%;
                    @include box_flex;
                    @include justify(space-between);
                    padding: pxTorem(10px) pxTorem(5px);
                    @include sizing;
                    li {
                        width: 20%;
                        height: pxTorem(30px);
                        line-height: pxTorem(30px);
                        font-size: pxTorem(15px);
                        i.icon {
                            font-size: pxTorem(15px);
                        }
                    }
                }
            }
        }
    }
    section {
        div {
            .pullUP {
                width: 100%;
                background: #ccc;
                text-align: center;
            }
        }
        width: 100%;
        @include flex;
        overflow: hidden;
        .big-content {
            .content {
                width: 100%;
                @include box_flex;
                .big {
                    width: 100%;
                    @include box_flex;
                    @include sizing;
                    padding: pxTorem(10px);
                    .continner {
                        width: 50%;
                        img {
                            width: 100%;
                        }
                    }
                    .word {
                        width: 50%;
                        font-size: pxTorem(15px);
                        padding: pxTorem(10px);
                        @include sizing;
                        margin-top: pxTorem(10px);
                        h3 {
                            font-weight: normal;
                            font-size: pxTorem(14px);
                        }
                        p {
                            font-size: pxTorem(13px);
                        }
                        >div {
                            width: 100%;
                            b {
                                font-size: pxTorem(16px);
                                color: red;
                            }
                            span {
                                padding: pxTorem(3px);
                                font-size: pxTorem(14px);
                                border: solid 1px orange;
                            }
                            .address {
                                font-size: pxTorem(13px);
                            }
                            >div {
                                h4 {
                                    font-size: pxTorem(13px);
                                    font-weight: normal;
                                    padding: pxTorem(5px);
                                    margin-left: pxTorem(5px);
                                }
                                em {
                                    padding: pxTorem(10px);
                                    @include sizing;
                                }
                            }
                        }
                    }
                }
            }
        }
        .pullDown {
            width: 100%;
            text-align: center;
            position: absolute;
            left: 0;
            bottom: 0;
            background: #ccc;
        }
    }
}