html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

html,
body {
  width: 100%;
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative; }
  .wrap header {
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    flex-direction: column;
    width: 100%;
    height: 3.2rem;
    background: #ccc;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    padding: 0.26667rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    .wrap header .head-one {
      width: 100%;
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      display: -webkit-flex;
      /* NEW - Chrome */ }
      .wrap header .head-one i.icon {
        font-size: 0.4rem; }
      .wrap header .head-one .center {
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        display: -webkit-flex;
        /* NEW - Chrome */
        width: 90%; }
        .wrap header .head-one .center input {
          border-radius: 0.26667rem;
          width: 80%;
          height: 0.8rem;
          background: #eee;
          -webkit-flex: 1 1 0%;
          flex: 1 1 0%;
          -webkit-align-items: center;
          align-items: center; }
    .wrap header .head-two {
      width: 100%;
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      display: -webkit-flex;
      /* NEW - Chrome */
      flex-direction: column;
      justify-content: space-around; }
      .wrap header .head-two .one-list {
        width: 100%;
        flex-direction: column; }
        .wrap header .head-two .one-list #uls {
          width: 100%;
          display: flex;
          /* NEW, Spec - Opera 12.1, Firefox 20+ */
          display: -webkit-flex;
          /* NEW - Chrome */
          -webkit-justify-content: space-between;
          justify-content: space-between;
          padding: 0.26667rem 0.13333rem;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -o-box-sizing: border-box;
          box-sizing: border-box; }
          .wrap header .head-two .one-list #uls li {
            width: 20%;
            height: 0.8rem;
            line-height: 0.8rem;
            font-size: 0.4rem; }
          .wrap header .head-two .one-list #uls .active {
            color: orange; }
      .wrap header .head-two .two-list {
        width: 100%;
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        display: -webkit-flex;
        /* NEW - Chrome */
        flex-direction: column; }
        .wrap header .head-two .two-list #ols {
          width: 100%;
          display: flex;
          /* NEW, Spec - Opera 12.1, Firefox 20+ */
          display: -webkit-flex;
          /* NEW - Chrome */
          -webkit-justify-content: space-between;
          justify-content: space-between;
          padding: 0.26667rem 0.13333rem;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -o-box-sizing: border-box;
          box-sizing: border-box; }
          .wrap header .head-two .two-list #ols li {
            width: 20%;
            height: 0.8rem;
            line-height: 0.8rem;
            font-size: 0.4rem; }
            .wrap header .head-two .two-list #ols li i.icon {
              font-size: 0.4rem; }
  .wrap section {
    width: 100%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    overflow: hidden; }
    .wrap section div .pullUP {
      width: 100%;
      background: #ccc;
      text-align: center; }
    .wrap section .big-content .content {
      width: 100%;
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      display: -webkit-flex;
      /* NEW - Chrome */ }
      .wrap section .big-content .content .big {
        width: 100%;
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        display: -webkit-flex;
        /* NEW - Chrome */
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0.26667rem; }
        .wrap section .big-content .content .big .continner {
          width: 50%; }
          .wrap section .big-content .content .big .continner img {
            width: 100%; }
        .wrap section .big-content .content .big .word {
          width: 50%;
          font-size: 0.4rem;
          padding: 0.26667rem;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -o-box-sizing: border-box;
          box-sizing: border-box;
          margin-top: 0.26667rem; }
          .wrap section .big-content .content .big .word h3 {
            font-weight: normal;
            font-size: 0.37333rem; }
          .wrap section .big-content .content .big .word p {
            font-size: 0.34667rem; }
          .wrap section .big-content .content .big .word > div {
            width: 100%; }
            .wrap section .big-content .content .big .word > div b {
              font-size: 0.42667rem;
              color: red; }
            .wrap section .big-content .content .big .word > div span {
              padding: 0.08rem;
              font-size: 0.37333rem;
              border: solid 1px orange; }
            .wrap section .big-content .content .big .word > div .address {
              font-size: 0.34667rem; }
            .wrap section .big-content .content .big .word > div > div h4 {
              font-size: 0.34667rem;
              font-weight: normal;
              padding: 0.13333rem;
              margin-left: 0.13333rem; }
            .wrap section .big-content .content .big .word > div > div em {
              padding: 0.26667rem;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              -ms-box-sizing: border-box;
              -o-box-sizing: border-box;
              box-sizing: border-box; }
    .wrap section .pullDown {
      width: 100%;
      text-align: center;
      position: absolute;
      left: 0;
      bottom: 0;
      background: #ccc; }
