section {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
}

section .left {
    width: 25%;
    border-right: 1px solid #ccc;
}

section .right {
    width: 75%;
    height: 100%;
}

section .right .top img {
    width: 100%
}