* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; }

html, body, .wrap {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.wrap h1 {
  font-size: 14px; }

.wrap li {
  margin-top: 10px; }

.wrap input {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border: 1px solid gray;
  border-radius: 50%;
  margin-right: 10px; }

.model {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none; }
  .model .inner-model {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    padding: 10px; }

.answer {
  display: none; }
