html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

html,
body {
  width: 100%;
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

html,
body {
  width: 100%;
  height: 100%; }

.wrapper {
  width: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  flex-direction: column; }

header {
  width: 100%;
  height: 1.17333rem;
  background: #1a1a1e;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  justify-content: space-around;
  align-items: center; }
  header .left i.icon {
    font-size: 0.4rem;
    color: #fff; }
  header .left span {
    font-size: 0.4rem;
    color: #fff; }
  header .center h3 {
    font-size: 0.4rem;
    color: #fff; }
  header .right i.icon {
    font-size: 0.4rem;
    color: #fff; }

section {
  width: 100%;
  flex: 1; }
  section .title {
    width: 100%;
    background: #323232;
    height: 1.06667rem;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    padding: 0.13333rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    section .title p {
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      display: -webkit-flex;
      /* NEW - Chrome */
      align-items: center; }
      section .title p i.icon {
        color: #fff;
        font-size: 0.4rem; }
      section .title p span {
        color: #fff;
        font-size: 0.4rem; }
  section .one {
    width: 100%;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    justify-content: space-between;
    padding: 0.13333rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    section .one .sum {
      width: 100%;
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      display: -webkit-flex;
      /* NEW - Chrome */
      justify-content: space-around; }
      section .one .sum img {
        width: 30%;
        flex-shrink: 0; }
      section .one .sum .bottom {
        width: 30%;
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        display: -webkit-flex;
        /* NEW - Chrome */
        align-items: center; }
        section .one .sum .bottom h4 {
          font-size: 0.34667rem; }
          section .one .sum .bottom h4 b {
            color: #ea8f3d; }
        section .one .sum .bottom p span {
          font-size: 0.32rem;
          color: #ccc; }
      section .one .sum .you {
        width: 33.3%; }
        section .one .sum .you img {
          width: 100%; }
        section .one .sum .you p {
          text-align: center; }
  section .banner {
    width: 100%;
    flex: 1; }
    section .banner img {
      width: 100%; }
  section .nav {
    width: 100%;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */ }
    section .nav ul {
      width: 100%;
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      display: -webkit-flex;
      /* NEW - Chrome */
      justify-content: space-around;
      padding: 0.13333rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; }
      section .nav ul li {
        width: 33.3%;
        font-size: 0.4rem; }
      section .nav ul .active {
        color: orange; }
  section .wen {
    width: 100%;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    padding: 0.13333rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    section .wen .zuo {
      width: 50%;
      font-size: 0.37333rem; }
      section .wen .zuo dl {
        padding: 0.10667rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box; }
        section .wen .zuo dl dt img {
          width: 100%; }
        section .wen .zuo dl dt dd {
          text-align: center; }
    section .wen .yoo {
      width: 50%;
      font-size: 0.37333rem; }
      section .wen .yoo dl {
        padding: 0.10667rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box; }
        section .wen .yoo dl dt img {
          width: 100%; }
        section .wen .yoo dl dt dd {
          text-align: center; }

footer {
  width: 100%;
  height: 1.33333rem;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  background: pink; }
  footer ol {
    width: 100%;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    justify-content: space-around;
    align-items: center;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */ }
    footer ol li {
      width: 33.3%;
      justify-content: space-around;
      font-size: 0.4rem;
      text-align: center; }
      footer ol li i.icon {
        font-size: 0.4rem;
        text-align: center;
        color: #000; }
        footer ol li i.icon i.icon .end {
          color: orange; }
      footer ol li a {
        display: block; }
